.residents-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header {
  border: 0.2rem solid black;
  background-repeat: no-repeat;
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
}

.header__title {
  padding: 1rem;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 3rem;
}

.header__title>span {
  color: #3a86ff
}

.header__form {
  width: 70rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.header__form-input {
  border: 0.2rem solid #3a86ff;
  width: 60%;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 2rem;

}

.header__form-button {
  margin-left: 2rem;
  background-color: #3a86ff;
  width: 10rem;
  color: white;
  font-size: 2rem;
  border-radius: 0.4rem;
  border: none;
  transition: all;
  transition-duration: 0.2s;
}

.header__form-button:hover {
  transform: scale(95%);
  background-color: #306dce;
}


@media all and (max-width:710px) {
  .header__form {
    width: 50rem;
  }
}

@media all and (max-width:503px) {

  .header {
    height: 45rem;
  }

  .header__form {
    width: 30rem;
    flex-direction: column;
    align-items: center;
  }

  .header__form-input {
    margin-bottom: 3rem;
    width: 80%
  }

  .header__form-button {
    margin: 0 auto;
    height: 4rem;
  }
}